@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');

body {
  background-color: lightgray;
  margin: 0; 
  padding: 0;
  font-family: 'Open Sans', sans-serif
}

img{
  margin-right: 5px;
  border: 5px solid black;
  border-radius: 5px;
  display: block;
  width: 500px;

}

h1{

  font-size: 4rem;
  color: rgb(0, 0, 0);
}
p {
  font-size: larger;
  color: red;
}
h2 {
  font-size: xx-large;
color:rebeccapurple
}
.header{
  margin-bottom: 100px;
}

.image-container{
  display: flex;
  margin: 0 auto;
  flex-flow: wrap;
  width: 1000px;
}